package domain

{{- range .Imports }}
import (
	"{{ . }}"
)
{{- end }}

type {{ .Name }} struct {
{{- range .Fields }}
    {{- /* Logika untuk menentukan apakah field menggunakan pointer */ -}}
    {{- $type := .Type -}}
    {{- if .Nullable -}}
        {{- $type = print "*" .Type -}}
    {{- end }}
    {{ .Name }} {{ $type }} `
        {{- if .DB -}}
            gorm:"column:{{ .DB }}
            {{- if .PrimaryKey -}};primaryKey{{ end -}}
            {{- if .AutoIncrement -}};autoIncrement{{ end -}}
            {{- if .Unique -}};uniqueIndex{{ end -}}
            {{- if .Default -}};default:{{ .Default }}{{ end -}}
            {{- if .TypeOverride -}};type:{{ .TypeOverride }}{{ end -}}
            {{- if .Length -}};type:varchar({{ .Length }}){{ end -}}
            {{- if .AutoNowAdd -}};autoCreateTime{{ end -}}
            {{- if .AutoNow -}};autoUpdateTime{{ end -}}"
        {{- end }}
        {{- if .JSON }} json:"{{ .JSON }}"{{ end }}
        {{- if .Validation }} validate:"{{ .Validation }}"{{ end }}`
{{- end }}
{{- if .Relationships }}
    {{- range .Relationships }}
    {{ .Name }} {{ if eq .Type "has_many" }}[]{{ end }}*{{ .Model }} `gorm:"foreignKey:{{ .ForeignKey }}{{ if .References }};references:{{ .References }}{{ end }}{{ if .OnDelete }};constraint:OnUpdate:{{ .OnUpdate }},OnDelete:{{ .OnDelete }}{{ end }}{{ if .JoinTable }};many2many:{{ .JoinTable }}{{ end }}" json:"{{ .Name | lower }},omitempty"`
    {{- end }}
{{- end }}
}

func ({{ .Name }}) TableName() string {
    return "{{ .Table }}"
}