package request

{{- $modelName := .Name }}

// Create{{ $modelName }}Request represents the request body for creating a {{ $modelName }}
type Create{{ $modelName }}Request struct {
{{- range .Fields }}
    {{- /* Hanya tampilkan field yang ditandai 'request: true' atau sesuaikan logikanya */ -}}
    {{- if .Request }}
    {{ .Name }} {{ .Type }} `json:"{{ .JSON }}"{{ if .Validation }} validate:"{{ .Validation }}"{{ end }}`
    {{- end }}
{{- end }}
}